@using Graphe;
@{
    ViewBag.PageTitle = "Visualisation du graphe et de ses propriétés";
}
<div class="card" style="min-height:100vh">
    <div class="card-body">
        <div class="custom-tab">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="visualisation" data-toggle="tab" href="#visualisation-tab" role="tab" aria-controls="custom-nav-home" aria-selected="true">Visualisation</a>
                    <a class="nav-item nav-link" id="cout" data-toggle="tab" href="#cout-tab" role="tab" aria-controls="custom-nav-profile" aria-selected="false">Matrice de coût</a>
                    <a class="nav-item nav-link" id="adjacence" data-toggle="tab" href="#adjacence-tab" role="tab" aria-controls="custom-nav-contact" aria-selected="false">Matrice d'adjacence</a>
                    <a class="nav-item nav-link" id="dfs" data-toggle="tab" href="#dfs-tab" role="tab" aria-controls="custom-nav-contact" aria-selected="false">Parcours en profondeur</a>
                    <a class="nav-item nav-link" id="bfs" data-toggle="tab" href="#bfs-tab" role="tab" aria-controls="custom-nav-contact" aria-selected="false">Parcours en largeur</a>
                </div>
            </nav>
            <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                <div class="tab-pane fade show active" id="visualisation-tab" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                    <div id="vis-container" style="height:100vh">

                    </div>
                </div>
                <div class="tab-pane fade show" id="cout-tab" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                </div>
                <div class="tab-pane fade show" id="adjacence-tab" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                </div>
                <div class="tab-pane fade show" id="dfs-tab" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                </div>
                <div class="tab-pane fade show" id="bfs-tab" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Graphe/_Modal.cshtml")
<script>
    window.onload = function () {
        var URL = 'http://localhost:61374/';
        var nodes;
        var edges;
        var nodesArray = [];
        var edgesArray = [];
        var id = 0;
        var container;
        var network;

        function initVis() {
            initVisOptions();
            initVisEvent();
        }

        function initVisOptions() {
            container = document.getElementById('vis-container');
            nodes = new vis.DataSet(nodesArray);
            edges = new vis.DataSet(edgesArray);
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes: {
                    shape: 'dot',
                    size: 25,
                    font: {
                        size: 26
                    },
                    borderWidth: 2,
                    shadow: true
                },
                edges: {
                    width: 2,
                    shadow: true,
                    length: 2,
                    arrows: {
                        to: { enabled: false, scaleFactor: 1, type: 'arrow' },
                        middle: { enabled: true, scaleFactor: 1, type: 'arrow' },
                        from: { enabled: false, scaleFactor: 1, type: 'arrow' }
                    },
                    smooth: {
                        type: 'continuous'
                    }
                },
                interaction: {
                    multiselect: true
                },
                manipulation: {
                    enabled: false,
                    addEdge: function (a, b) {
                        $('#ajouter-arc-modal').data('a', a.from);
                        $('#ajouter-arc-modal').data('b', a.to);
                        afficherAjouterArc();
                    },
                },
                physics: {
                    enabled: false
                }
            };
            network = new vis.Network(container, data, options);

            network.on('doubleClick', function (params) {
                $('#modifier-noeud-modal input[name="ancienNoeud"]').val(nodesArray[params.nodes[0]].label);
                $('#modifier-noeud-modal input[name="nouveauNoeud"]').val(nodesArray[params.nodes[0]].label);
                $('#modifier-noeud-modal').attr('data-id', params.nodes[0]);
                $('#modifier-noeud-modal').modal('show');
            });


        }

        function initVisEvent() {
            network.on('selectNode', function (e) {
                var nodes = e.nodes;
                if (nodes.length == 2) {
                    network.addEdgeMode();
                }
            });
        }

        function creerNoeudVis(nom) {
            nodes.add({
                id: id,
                label: nom,
                group: 0
            });
            nodesArray.push({
                id: id,
                label: nom,
                group: 0
            });
            id++;
        }

        function creerArcVis(org, arv, capacite, cout) {
            edges.add({
                from: org,
                to: arv,
                label: '(' + capacite + ',' + cout + ')'
            });
            edgesArray.push({
                from: org,
                to: arv
            });
        }

        function modifierNoeudAPI(id, ancien, nouveau) {
            $.post(
                URL + 'Home/ModifierNoeud',
                {
                    ancienNoeud: ancien,
                    nouveauNoeud: nouveau
                },
                function (result) {
                    if (result.status === 'modified') {
                        $('#modifier-noeud-modal').modal('hide');
                        $('#modifier-noeud-modal input[name="ancienNoeud"]').val('');
                        $('#modifier-noeud-modal input[name="nouveauNoeud"]').val('');
                        nodes.update({ id: id, label: nouveau });
                    }
                }
            );
        }

        function supprimerNoeudAPI(id, noeud) {
            $.post(
                URL + 'Home/SupprimerNoeud',
                {
                    noeud: noeud,
                },
                function (result) {
                    if (result.status === 'deleted') {
                        $('#supprimer-noeud-modal').modal('hide');
                        $('#supprimer-noeud-modal .modal-body').html('');
                        nodes.remove({ id: id });
                    }
                }
            );
        }

        function creerNoeudAPI(nom) {
            $.post(
                URL + 'Home/AjouterNoeud',
                {
                    nomNoeud: nom
                },
                function (result) {
                    $('#ajouter-noeud-modal').modal('hide');                      
                    $('#nom-noeud').val('');
                    if (result.status === 'created') {
                        creerNoeudVis(nom);
                    }
                    else if (result.status === 'error') {
                        $('#erreur-modal .modal-body').html(result.message);
                        $('#erreur-modal').modal('show');
                    }
                }
            );
        }

        function creerArcAPI(a, b) {
            $.post(
                URL + 'Home/AjouterArc',
                {
                    noeudA: nodesArray[a].label,
                    noeudB: nodesArray[b].label,
                    capacite: $('#capacite-noeud').val(),
                    cout: $('#cout-noeud').val()
                },
                function (result) {
                    if (result.status === 'created') {
                        $('#ajouter-arc-modal').modal('hide');
                        creerArcVis(a, b, $('#capacite-noeud').val(), $('#cout-noeud').val());
                        $('#capacite-noeud').val('0');
                        $('#cout-noeud').val('0');
                    }
                }
            );
        }

        function afficherAjouterArc() {
            $('#ajouter-arc-modal').modal('show');
        }

        function getNoeudIndiceParNom(nom) {
            for (var i = 0; i < nodesArray.length; i++) {
                if (nodesArray[i].label === nom) {
                    return i;
                }
            }
        }

        function initData() {
            @{
                var graphe = (GrapheO<string>) Session["Graphe"];
                foreach (var key in graphe.Predecesseurs.Keys)
                {
                    <text>creerNoeudVis('@key')</text>
                }
                foreach (var key in graphe.Successeurs.Keys)
                {
                    foreach(Predecesseur<string> succ in graphe.Predecesseurs[key])
                    {
                        <text>
                            var idFrom = getNoeudIndiceParNom('@succ.Noeud');
                            var idTo = getNoeudIndiceParNom('@key');
                            creerArcVis(idFrom, idTo, @succ.Capacite, @succ.Cout);
                        </text>
                    }
                }
            }
        }

        $('#creer-noeud-btn').click(function (e) {
            e.preventDefault();
            var nom = $('#nom-noeud').val();
            creerNoeudAPI(nom);
        });

        $('#modifier-noeud-btn').click(function (e) {
            e.preventDefault();
            var ancien = $('#modifier-noeud-modal input[name="ancienNoeud"]').val();
            var nouveau = $('#modifier-noeud-modal input[name="nouveauNoeud"]').val();
            var id = $('#modifier-noeud-modal').attr('data-id');
            modifierNoeudAPI(id, ancien, nouveau);
            
        });

        $('#supprimer-noeud-btn').click(function (e) {
            e.preventDefault();          
            var id = $('#supprimer-noeud-modal').attr('data-id');
            var noeud = $('#supprimer-noeud-modal').attr('data-noeud');
            supprimerNoeudAPI(id, noeud);

        });

        $('#creer-arc-btn').click(function (e) {
            e.preventDefault();
            var a = $('#ajouter-arc-modal').data('a');
            var b = $('#ajouter-arc-modal').data('b');
            creerArcAPI(a, b);
        });

        $('#cout').click(function (e) {
            $('#cout-tab').load(URL + 'Home/GetMatriceCout');
        });

        $('#adjacence').click(function (e) {
            $('#adjacence-tab').load(URL + 'Home/GetMatriceAdjacence');
        });

        $(document).keyup(function (e) {
            if (e.keyCode == 46) { // delete button pressed
                var selection = network.getSelection();
                if (selection && selection.nodes.length === 1) {
                    $('#supprimer-noeud-modal').attr('data-id', selection.nodes[0]); 
                    $('#supprimer-noeud-modal').attr('data-noeud', nodesArray[selection.nodes[0]].label);
                    $('#supprimer-noeud-modal .modal-body').html('Voulez-vous vraiment supprimer le noeud ' + nodesArray[selection.nodes[0]].label);
                    $('#supprimer-noeud-modal').modal('show');
                }
            }
        });

        initVis();
        initData();
    }
</script>



